{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}
    <div class="div_home">
        <h1 class="h1_home"> Voir les projets </h1>

        <select id="selectionDpt" class="selectpicker form-control" data-live-search="data-live-search"
                data-width="auto" multiple="multiple" title="Aucun département sélectionné">
            {% for d in dpt %}
                <option value="{{ d.id }}">{{ d.nomDpt }}</option>
            {% endfor %}
        </select>

        <select id="selectionAnnee" class="selectpicker form-control" data-live-search="data-live-search"
                data-width="auto" multiple="multiple" title="Aucune année sélectionnée">
            {% for d in annee %}
                <option value="{{ d }}">20{{ d }}</option>
            {% endfor %}
        </select>

        <br/>

        <ul id="listeProjets">
            {% for p in projets %}
                <li class="projetPublicLi"><a class="projetPublic" href="/generate/{{ p.id }}"
                                              id="o{{ p.id }}">{{ p.intituleProjet }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

    <script>
        projets = [];

        {% for p in projets %}
        a = [];
        a.push({{ p.id }});
        a.push("{{ p.etudiants[0].formations[0].departement.nomDpt }}");
        a.push("{{ p.dateDebut|date('Y') }}");
        projets.push(a);
        {% endfor %}

        liste = document.getElementById("listeProjets");

        selDpt = document.getElementById("selectionDpt");
        selDpt.onchange = function (evenement) {
            actualiserProjets();
        };

        selAnnee = document.getElementById("selectionAnnee");
        selAnnee.onchange = function (evenement) {
            actualiserProjets();
        };

        allHidden();
        function allHidden() {
            for (pro of projets) {
                document.getElementById("o" + pro[0]).hidden = true;
            }
        }

        actualiserProjets();
        function actualiserProjets() {
            dptS = selDpt.selectedOptions;
            AnnS = selAnnee.selectedOptions;
            dpt = [];
            for (d of dptS) {
                dpt.push(d.innerHTML);
            }
            ann = [];
            for (a of AnnS) {
                ann.push(20 + a.value);
            }
            for (pro of projets) {
                if (dpt.includes(pro[1]) && ann.includes(pro[2])) {
                    document.getElementById("o" + pro[0]).hidden = false;
                }
                else {
                    document.getElementById("o" + pro[0]).hidden = true;
                }
            }
        }
    </script>
{% endblock %}