<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
          {% block title %}
            {% if statutCAS=='étudiant' %} {#CAS = étudiant#}
              Connecté en tant qu'{{statutCAS}}
            {% else %} {#CAS = professeur ou chef de département ou service communication#}
              Connecté en tant que {{statutCAS}}
            {% endif %}
          {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <nav>

        <input type = "hidden" name = "genre" value = "Action">
        <input type="submit" value={{statutCAS}} class="boutonGenre">
        {% for option in info %}
              <li> <a href="#">{{option}}</a> </li>
        {% endfor%}
        <ul id="menu-principal">

        </ul>
      </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
