<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
          {% block title %}
            {% if statutCAS=='étudiant' %} {#CAS = étudiant#}
              Connecté en tant qu'{{statutCAS}}
            {% else %} {#CAS = professeur ou chef de département ou service communication#}
              Connecté en tant que {{statutCAS}}
            {% endif %}
          {% endblock %}
        </title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
          <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css  ') }}">
          <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-overload.css') }}">
          <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/src.css') }}">
        {% endblock %}
    </head>

    <body>
      <div id="wrapper">
          <div id="sidebar-wrapper" class="">
              <nav id="spy">
                  <ul class="sidebar-nav nav">
                      <li class="sidebar-brand active">
                        <a href="">
                          {{statutCAS|capitalize}}
                        </a>
                      </li>
                        {% for option in info %}
                          <li class="sidebar-brand options">
                            <a href="#">{{option}}</a>
                          </li>
                        {% endfor%}
                      </li>
                  </ul>
              </nav>
          </div>







      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
