<head>
    <meta charset="utf-8">
    <style>
        .etudiants {
            text-align: right;
            margin-bottom: 15px;
        }

        .entete_projet {
            text-align: center;
            margin-bottom: 15px;
        }

        .titre {
            font-size: 45px;
            white-space: nowrap;
            margin-bottom: 0;
        }

        .client {
            margin-top: 0;
        }

        .titre_info {
            margin-bottom: 0;
        }

        .presentation_projet {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="etudiants">
    {% if etudiants is not empty %}
        <p> Étudiants </p>
        {% for etudiant in etudiants %}
            <p> {{ etudiant }} </p>
        {% endfor %}
    {% endif %}
</div>
<div class="entete_projet">
    <h1 class="titre"> {{ nom }} </h1>
    <p class="client"> À destination de {{ client }} </p>
</div>

<div class="presentation_projet">
    <h4 class="titre_info"> Description du projet </h4>
    <p> {{ descrip }} </p>
</div>

<div class="bilan_projet">
    <h4 class="titre_info"> Bilan du projet </h4>
    <p> {{ bilan }} </p>
</div>
</body>
