{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/chooseCorrectionTeacher.css") }}">
{% endblock %}

{% block title %}
    Livret'O - Correction projets
{% endblock %}

{% block content %}

    <a type="button" href="{{ path('iuto_livret_teacherhomepage') }}" class="btn btn-success" id="livret_btn_goto_home">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Accueil
    </a>

    <div class="list-group">
        <h1>Correction de projets </h1>
            <div id="project_choose_correction" id="pick_section">
            <h2>Choisir un projet à corriger</h2>

            {% if projets|length > 0 %}
                <ul class="list-group" id="choose_project">
                    {% for projet in projets %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ projet.intituleProjet }}</p>
                            <a href="/{{ projet.id }}/correctionProf2" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Corriger le projet
                            </a>
                            <a href="/generate/{{ projet.id }}" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu du projet
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>Vous n'avez pas de projets en cours.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
