{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .div_confirm_complete
        {
            margin-top: -15em;

        }
        .btn-info
        {
            margin-left: 26em;
            margin-top: 20em;
        }
        .btn-success
        {
            margin-top: 20em;
            margin-left: 3em;
        }
        .formulaire
        {
            margin-top: 8em;
            margin-left: 37em;
        }

        #livreto_download_finished
        {
            margin-top: 30em;
            margin-left: -23em;
        }

        #btn-goto-accueil
        {
            margin: 1em;
        }


    </style>
{% endblock %}

{% block title %}
    Livret'O - Correction projets
{% endblock %}

{% block content %}
    <a type="button" class="btn btn-primary" href="{{ path('iuto_livret_teacherhomepage') }}" id="btn-goto-accueil">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Accueil
    </a>
    <br>
    <h1> Finalisation du projet </h1>
    <br>
    <div class="div_confirm_complete">


        <a href="/generate/{{ projet }}" class="btn btn-info apercu_confirm">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            Aperçu du compte rendu
        </a>

        <a type="button" href="" class="btn btn-success download_confirm">
            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
            Renvoyer en correction
        </a>

        <a href="{{ path('iuto_livret_download', {'id': projet}) }}" class="btn btn-default download_confirm" id="livreto_download_finished">
            {#icone telechargement#}
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Enregistrer sur l'ordinateur
        </a>


        <div class="formulaire">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(formMarquant) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $subBtn = document.getElementById('iuto_livretbundle_projet_submit');
        $glyph = document.createElement('span');
        $glyph.className = 'glyphicon glyphicon-ok';
        $subBtn.appendChild($glyph);
    </script>

{% endblock %}






