{% extends 'base.html.twig' %}


{% block title %}
  <title>Correction projets</title>
{% endblock %}


{% block content %}
  </br>
  <h1> Informations du projet </h1>
  </br>
  <div class="formulaire">
      {% form_theme form 'bootstrap_3_layout.html.twig' %}
      {{ form(form) }}

      <a type="button" class="btn btn-retour" href="{{ pagePrec }}">
          <  Retour
      </a>

      <a type="button" class="btn btn-suivant" href="{{ pageSuiv }}">
          Suivant  >
      </a>
  </div>


  <div class="popup-box">
      <div class="popup-head">
          <div class="popup-head-left">
              Correction
          </div>

    	</div>


      <!-- A FAIRE : BOUCLE FOR SUR TOUS LES MESSAGES ENREGISTRES-->

    	<div class="popup-messages">

            {% for o in range(0, commentaires|length - 1) %}

          <!--SI PROF FAIRE MSG À GAUCHE attention : changer Enseigant par ROLE_faculty et ROLE_student-->
                  {% if commentaires[o][0]=="Enseignant" %}

                      <div class="direct-chat-messages">
                          <div class="chat-box-single-line">
                                <abbr class="timestamp"> {{commentaires[o][2]}} </abbr>
                            </div>
                          <div class="direct-chat-msg-left">
                              <div class="direct-chat-info clearfix">
                                  <span class="direct-chat-name-left"> {{commentaires[o][0]}} </span>
                              </div>
                              <div class="direct-chat-text-left">
                                  {{commentaires[o][1]}}
                              </div>
                            </div>
                      </div>
                  {% endif %}


                    <!--SI ETUDIANT FAIRE MESSAGE À DROITE-->
                  {% if user.role=="Etudiant" %}
                  <div class="direct-chat-messages">
                      <div class="chat-box-single-line">
                            <abbr class="timestamp"> com.date </abbr>
                        </div>
                      <div class="direct-chat-msg-left">
                          <div class="direct-chat-info clearfix">
                              <span class="direct-chat-name-left"> {{user.role}} </span>
                          </div>
                          <div class="direct-chat-text-left">
                              com
                          </div>
                        </div>
                  </div>
                  {% endif %}
              </div>

              {% endfor %}

              <div class="reponseCorrection">
                  <input type="text" value ="Veuillez taper une réponse suite à vos modifications"> </input>
                  <button type="button" class="btn btn-envoyer-msg" href="">
                      Envoyer
                  </button>
              </div>
  </div>
{% endblock %}
