{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/chooseCorrectionTeacher.css") }}">
{% endblock %}

{% block title %}
    Livret'O - Correction projets
{% endblock %}

{% block content %}

     <div class="list-group">
        <h1>Correction de projets </h1>
        <div id="project_choose_correction" id="pick_section">
            <h2>Choisir un projet à corriger</h2>

            {% if projets|length > 0 %}
                <ul class="list-group" id="choose_project">
                    {% for projet in projets %}
                        <li class="list-group-item">
                            <p id="intitule">{{ projet.intituleProjet }}</p>
                            <a href="/{{ projet.id }}/correctionProf2" class="list-group-item list-group-item-info">
                                Corriger le projet
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>Vous n'avez pas de projets en cours.</p>
            {% endif %}
        </div>

    </div>

    <a type="button" class="btn btn-retour" href="{{ pagePrec }}">
        <  Retour
    </a>



{% endblock %}
