{% extends 'base.html.twig' %}


{% block title %}
    Livret'O - Correction projets
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/correctionTeacher.css') }}"/>

{% endblock %}


{% block content %}
    </br>
    <h1> Informations du projet </h1>
    </br>

    <div class="formulaire">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form(form) }}

        <a type="button" class="btn btn-danger" href="/professeur" id="livret_cancel_correction2">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Annuler
        </a>

    </div>


    <div class="popup-box">
        <div class="popup-head">
            <div class="popup-head-left">
                Correction
            </div>
        </div>


        <div class="popup-messages">

            <div class="direct-chat-messages">

                {% if commentaires|length > 0 %}
                    {% for o in range(0, commentaires|length - 1) %}
                        {% if o != 0 %}
                            {% if commentaires[o][2]|date('d-m-Y') != commentaires[o-1][2]|date('d-m-Y') %}
                                <div class="chat-box-single-line">
                                    <abbr class="timestamp"> {{ commentaires[o][2]|date('d-m-Y') }} </abbr>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if o == 0 %}
                            <div class="chat-box-single-line">
                                <abbr class="timestamp"> {{ commentaires[o][2]|date('d-m-Y') }} </abbr>
                            </div>
                        {% endif %}

                        {% if commentaires[o][3] == "ROLE_student" %}
                            <div class="direct-chat-msg-left">
                                {% if o != 0 %}
                                    {% if commentaires[o][0] != commentaires[o-1][0]  %}
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name-left"> {{ commentaires[o][0] }} </span>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name-left"> {{ commentaires[o][0] }} </span>
                                    </div>
                                {% endif %}
                                <div class="direct-chat-text-left">
                                    {{ commentaires[o][1] }}
                                </div>
                            </div>
                        {% endif %}

                        {% if commentaires[o][3] == "ROLE_faculty" or commentaires[o][3] == "ROLE_employee" %}
                            <div class="direct-chat-msg-right">
                                {% if o != 0 %}
                                    {% if commentaires[o][0] != commentaires[o-1][0]  %}
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name-right"> {{ commentaires[o][0] }} </span>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name-right"> {{ commentaires[o][0] }} </span>
                                    </div>
                                {% endif %}
                                <div class="direct-chat-text-right">
                                    {{ commentaires[o][1] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="reponseCorrection">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form(formCom) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript">
        $(function (){
            $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
                monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sep", "Oct", "Nov", "Dec"],
                today: "Aujourd'hui",
                clear: "Clear",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };

            $('.datepicker').datepicker(
                {
                    autoclose: true,
                    language: 'fr',
                    startView: 'year'
                }
            );
        });
    </script>

    <script type="text/javascript">
        $subBtn = document.getElementById('iuto_livretbundle_projet_submit');
        $glyph = document.createElement('span');
        $glyph.className = 'glyphicon glyphicon-chevron-right';
        $subBtn.appendChild($glyph);
    </script>

{% endblock %}

