{% extends 'base.html.twig' %}


{% block title %}
    Livret'O - Correction projets
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style type="text/css">
        #choose_project_name
        {
            margin-left: 1em;
            margin-top: 0.5em;
            font-size: 1.5em;
            width: 20em;
        }

        #livret_modif_btn
        {
            margin-top: -4.7em;
            margin-left: 32em;
        }
        #livreto_see_btn
        {
            margin-top: -4.7em;
            margin-left: 2em;
        }

        .list-group-item
        {
            padding: 0.2em;
            margin: 0.2em;
            height: auto;
            width: 75em;
            margin-left: 2em;
        }

        #livret_btn_goto_home
        {
            margin: 1em;
            margin-top: 2em;
            margin-left: 2em;
            font-size: 1.2em;
        }

        #livreto_download_finished
        {
            margin-left: 2em;
            margin-top: -4.7em;

        }

    </style>



{% endblock %}

{% block content %}

    <a type="button" href="{{ path('iuto_livret_teacherhomepage') }}" class="btn btn-primary" id="livret_btn_goto_home">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Accueil
    </a>

    <div class="list-group" style="padding: 2%">
        <h1 class="">Projets validés </h1>
        <div style="padding: 2%">
            <h2><small>Choisir un projet validé</small></h2>

            {% if projets|length > 0 %}
                <ul class="list-group">
                    {% for projet in projets %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ projet.intituleProjet }}</p>
                            <a href="{{ path('iuto_livret_correctionProf2', {'projet' : projet.id}) }}" class="btn btn-warning" id="livret_modif_btn"
                                data-toggle="confirmation" data-singleton="true" data-popout="true" data-title="Êtes-vous sûr"
                                data-content="Ce projet est un projet validé" data-btn-ok-label="Continuer" data-btn-cancel-label="Annuler">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Corriger le projet
                            </a>
                            <a href="{{ path('iuto_livret_pdfgenerator', {'id' : projet.id}) }}" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu du projet
                            </a>
                            <a href="{{ path('iuto_livret_download', {'id': projet.id}) }}" class="btn btn-default download_confirm" id="livreto_download_finished">
                                {#icone telechargement#}
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                Enregistrer sur l'ordinateur
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>Vous n'avez pas de projet validé.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.js') }}"></script>


    <script type="text/javascript">
        $(function (){
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
            });
        });
    </script>


{% endblock %}
