{# on entend base.html.twig pour avoir le menu sur la gauche #}
{% extends 'base.html.twig' %}


{# block titre pour changer le titre de l'onglet #}
{% block title %}
    Livret'O - Admin
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/chooseUser.css") }}"/>


{% endblock %}

{% block content %}

    <div id="users">
        <div id="search_user">
            <h2>Rechercher un utilisateur</h2>
            <input type="text" id="search_field">
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item" id="user_{{ user.id }}">
                        <p id="choose_project_name">{{ user.prenomUser }} {{ user.nomUser }}</p>
                        <a href="{{ path('iuto_livret_admin_modifUser', {'user': user.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Modifier l'utilisateur
                        </a>
                        <a href="#" class="btn btn-success" id="livreto_see_btn">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            Aperçu de l'utilisateur
                        </a>
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ user.id }}" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ user.id }}">
                                <li>
                                    <a href="#" id="delete_btn">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="chiefs">
            <h2 class="user-type">Chefs de département <small>ROLE_chief</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for chief in chiefs %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ chief.prenomUser }} {{ chief.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': chief.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ chief.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ chief.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="teachers">
            <h2 class="user-type">Enseignants <small>ROLE_faculty</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for teacher in teachers %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ teacher.prenomUser }} {{ teacher.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': teacher.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ teacher.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ teacher.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="students">
            <h2 class="user-type">Etudiants <small>ROLE_student</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for student in students %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ student.prenomUser }} {{ student.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': student.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ student.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ student.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="employees">
            <h2 class="user-type">Communication / Administration / Personnel <small>ROLE_employee</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for employee in employees %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ employee.prenomUser }} {{ employee.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': employee.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ employee.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ employee.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="admins">
            <h2 class="user-type">Administrateurs <small>ROLE_admin</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for admin in admins %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ admin.prenomUser }} {{ admin.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': admin.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ admin.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ admin.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="others">
            <h2 class="user-type">Autres (affiliés, etc) <small>ROLE_affiliate</small></h2>
            <div class="role_users">
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for other in others %}
                        <li class="list-group-item">
                            <p id="choose_project_name">{{ other.prenomUser }} {{ other.nomUser }}</p>
                            <a href="{{ path('iuto_livret_admin_modifUser', {'user': other.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier l'utilisateur
                            </a>
                            <a href="#" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu de l'utilisateur
                            </a>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn_drop_{{ other.id }}" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="btn_drop_{{ other.id }}">
                                    <li>
                                        <a href="#" id="delete_btn">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'utilisateur
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker({
            style: 'btn-info',
        });

        $('.selectpicker').on('changed.bs.select', function (e) {
            location.href = e.newValue;
        });
    </script>

    <script>
        users = [];

        {% for user in users %}
            u = [];
            u.push({{ user.id }});
            u.push("{{ user.prenomUser }}");
            u.push("{{ user.nomUser }}");
            users.push(u);
        {% endfor %}

        champRecherche = document.getElementById("search_field");
        champRecherche.onchange = function (evenement) {
            updateUsers();
        };

        allHidden();
        function allHidden() {
            for (u of users) {
                document.getElementById("user_" + u[0]).hidden = true;
            }
        }

        function updateUsers() {
            txt = champRecherche.value;
            for ( us of users) {
                if ( txt.length > 0 ) {
                    if ( ( us[1].indexOf(txt) !== -1 ) || (us[2].indexOf(txt) !== -1))
                    {
                        document.getElementById("user_" + us[0]).hidden = false;
                    } else {
                        document.getElementById("user_" + us[0]).hidden = true;
                    }
                } else {
                    allHidden();
                }
            }
        }
    </script>

{% endblock %}