{# on entend base.html.twig pour avoir le menu sur la gauche #}
{% extends 'base.html.twig' %}


{# block titre pour changer le titre de l'onglet #}
{% block title %}
    Livret'O - Livrets
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset("assets/css/chooseLivretCommunication.css") }}"/>

{% endblock %}

{% block content %}

    {# bouton de retour à l'accueil #}
    <a type="button" href="{{ path('iuto_livret_communicationhomepage') }}" class="btn btn-primary" id="livret_btn_goto_home">
        {# icone #}
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Accueil
    </a>

    {# section d'affichage des projet en cours et des projet validés #}
    <div id="all_projects">
        <h1>Livrets :</h1>
        {#section pour les projet en cours de réalisation#}
        <div>
            {% if livrets|length > 0 %}
                <ul class="list-group">
                    {# parcours des projets en cours #}
                    {% for livret in livrets %}
                        <li class="list-group-item">
                            <p id="choose_livret_name">{{ livret.intituleLivret }}</p>
                            <a href="{{ path('iuto_livret_modif_livret', {'livret' : livret.id}) }}" class="btn btn-warning" id="livreto_modif_livret">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Modifier le livret
                            </a>
                            <a href="/generate/livret/{{ livret.id }}" class="btn btn-success" id="livreto_see_btn">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                Aperçu du livret
                            </a>
                            <a href="{{ path('iuto_livret_download_livret', {'id': livret.id}) }}" class="btn btn-default download_confirm" id="livreto_download_finished">
                                {#icone telechargement#}
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                Enregistrer sur l'ordinateur
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Il n'y a pas de livret existants.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
