{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/chooseProjectCommunication.css') }}">
{% endblock %}

{% block content %}
    <h1 class="titre"> Projets en cours </h1>

    <div class="selection">
        <select id="selectionDpt" class="selectpicker form-control" data-live-search="data-live-search"
                data-width="auto" multiple="multiple" title="Aucun département sélectionné">
            {% for d in dpt %}
                <option value="{{ d.id }}">{{ d.nomDpt }}</option>
            {% endfor %}
        </select>

        <select id="selectionAnnee" class="selectpicker form-control" data-live-search="data-live-search"
                data-width="auto" multiple="multiple" title="Aucune année sélectionnée">
            {% for d in annee %}
                <option value="{{ d }}">20{{ d }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>

    <ul id="listeProjets">
        {% for projet in projets %}
            <li id="o{{ projet.id }}"  class="list-group-item">
                <p id="choose_project_name">{{ projet.intituleProjet }}</p>
                <div class="btns">
                    <a href="{{ path('iuto_livret_communication_correct_projet', {'projet': projet.id}) }}" class="btn btn-warning" id="livret_modif_btn">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Modifier le projet
                    </a>
                    <a href="/generate/{{ projet.id }}" class="btn btn-success" id="l{{ projet.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        Aperçu du projet
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

    <script>
        projets = [];

        {% for p in projets %}
        a = [];
        a.push({{ p.id }});
        a.push("{{ p.etudiants[0].formations[0].departement.nomDpt }}");
        a.push("{{ p.dateDebut|date('Y') }}");
        projets.push(a);
        {% endfor %}

        liste = document.getElementById("listeProjets");

        selDpt = document.getElementById("selectionDpt");
        selDpt.onchange = function (evenement) {
            actualiserProjets();
        };

        selAnnee = document.getElementById("selectionAnnee");
        selAnnee.onchange = function (evenement) {
            actualiserProjets();
        };

        allHidden();
        function allHidden() {
            for (pro of projets) {
                document.getElementById("o" + pro[0]).hidden = true;
            }
        }

        actualiserProjets();
        function actualiserProjets() {
            dptS = selDpt.selectedOptions;
            AnnS = selAnnee.selectedOptions;
            dpt = [];
            for (d of dptS) {
                dpt.push(d.innerHTML);
            }
            ann = [];
            for (a of AnnS) {
                ann.push(20 + a.value);
            }
            for (pro of projets) {
                if (dptS.length > 0 && AnnS.length > 0) {
                    if (dpt.includes(pro[1]) && ann.includes(pro[2])) {
                        document.getElementById("o" + pro[0]).style.display = "inline-block";
                        document.getElementById("o" + pro[0]).className = "projetPublic";
                        document.getElementById("l" + pro[0]).className = "btn projetPublicLi";
                    }

                    else {
                        document.getElementById("o" + pro[0]).style.display = "none";
                        document.getElementById("o" + pro[0]).className = "";
                        document.getElementById("l" + pro[0]).className = "btn";
                    }
                }
                else {
                    if (dpt.includes(pro[1]) || ann.includes(pro[2])) {
                        document.getElementById("o" + pro[0]).style.display = "inline-block";
                        document.getElementById("o" + pro[0]).className = "projetPublic";
                        document.getElementById("l" + pro[0]).className = "btn projetPublicLi";
                    }

                    else {
                        document.getElementById("o" + pro[0]).style.display = "none";
                        document.getElementById("o" + pro[0]).className = "";
                        document.getElementById("l" + pro[0]).className = "btn";
                    }
                }
            }
        }
    </script>
{% endblock %}