{% extends 'base.html.twig' %}

{% block content %}
    <div class="list-group" style="padding: 2em">
        <h1 class="">Projets :</h1>
        <div style="padding: 1em">
            <h2><small>Projets en cours</small></h2>
            {% if projetsSuivis|length > 0 %}
                <ul class="list-group">
                {% for projet in projetsSuivis %}
                    <li class="list-group-item" style="padding: 1em; margin: 0.5em">
                        Intitulé du projet : {{ projet.intituleProjet }}
                        <a href="/{{ id }}/{{ projet.id }}/complete" class="list-group-item" style="margin: 1em">
                            Voir les corrections du projet
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Vous n'avez pas de projets en cours.</p>
            {% endif %}
        </div>
        <div style="padding: 1em">
            <h2><small>Projets finis</small></h2>
            {% if projetsFinis|length > 0 %}
                {% for projet in projetsFinis %}
                    <a href="/{{ id }}/{{ projet.id }}/finishedProject" class="list-group-item list-group-item-success">
                        Intitulé du projet : {{ projet.intituleProjet }}
                    </a>
                {% endfor %}
            {% else %}
                <p>Vous n'avez pas de projets finis.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
