{# on entend base.html.twig pour avoir le menu sur la gauche #}
{% extends 'base.html.twig' %}

{# block titre pour changer le titre de l'onglet #}
{% block title %}
    Livret'O - Modification projet
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>

    <link rel="stylesheet" type="text/css" href="{{ asset("assets/css/completeProjectStudent.css") }}"/>

    <style type="text/css" rel="stylesheet">
        label.required:after {
            content: "* ";
        }
    </style>


{% endblock %}


{% block content %}
    <div class="form-complete">
        {# initialisation du theme pourle formulaire #}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {# génération automatique du formulaire #}
        {{ form(form) }}

        {# bouton retour accueil #}
        <a type="button" href="{{ path('iuto_livret_chooseProject') }}" class="btn btn-danger" id="livret_cancel_create_student">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Annuler
        </a>
    </div>

    {# section pour le chat de correction #}
    <div class="popup-box">
        <div class="popup-head">
            <div class="popup-head-left">
                Correction
            </div>
        </div>

        <div class="popup-messages">
            <div class="direct-chat-messages">
                {# vérification que des commentaires existe pour ce projet #}
                {% if commentaires|length > 0 %}
                    {# parcours des commentaires du projet #}
                    {% for o in range(0, commentaires|length - 1) %}
                        {# vérification que le commentaire est le premier ou non #}
                        {% if o != 0 %}
                            {# affichagede la date si le commentaire n'as pas la même date que le précédent #}
                            {% if commentaires[o][2]|date('d-m-Y') != commentaires[o-1][2]|date('d-m-Y') %}
                                <div class="chat-box-single-line">
                                    <abbr class="timestamp"> {{ commentaires[o][2]|date('d-m-Y') }} </abbr>
                                </div>
                            {% endif %}
                        {% endif %}
                        {# affichage de la date si ce commentaire est le premier #}
                        {% if o == 0 %}
                            <div class="chat-box-single-line">
                                <abbr class="timestamp"> {{ commentaires[o][2]|date('d-m-Y') }} </abbr>
                            </div>
                        {% endif %}

                        {# vérification du role de l'utilisateur pour le commentaire actuel #}
                        {# le commentaire se trouve à gauche si ce n'est pas un étudiant #}
                        {% if commentaires[o][3] == "ROLE_faculty" or commentaires[o][3] == "ROLE_employee" %}
                            <div class="direct-chat-msg-left">
                                {% if o != 0 %}
                                    {# affichage du nom de l'utilisateur si le commentaire précédent n'avais pas le même propriétaire #}
                                    {% if commentaires[o][0] != commentaires[o-1][0]  %}
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name-left"> {{ commentaires[o][0] }} </span>
                                        </div>
                                    {% endif %}
                                {# affichage du nom si c'est le premier commentaire #}
                                {% else %}
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name-left"> {{ commentaires[o][0] }} </span>
                                    </div>
                                {% endif %}
                                {# affichage du contenu du commentaire #}
                                <div class="direct-chat-text-left">
                                    {{ commentaires[o][1] }}
                                </div>
                            </div>
                        {% endif %}
                        {# le commentaire se met à droite si c'est un étudiant #}
                        {% if commentaires[o][3] == "ROLE_student" %}
                            <div class="direct-chat-msg-right">
                                {% if o != 0 %}
                                    {# affichage du nom de l'utilisateur si le commentaire précédent n'avais pas le même propriétaire #}
                                    {% if commentaires[o][0] != commentaires[o-1][0]  %}
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name-right"> {{ commentaires[o][0] }} </span>
                                        </div>
                                    {% endif %}
                                {# affichage du nom si c'est le premier commentaire #}
                                {% else %}
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name-right"> {{ commentaires[o][0] }} </span>
                                    </div>
                                {% endif %}
                                {# affichage du contenu du commentaire #}
                                <div class="direct-chat-text-right">
                                    {{ commentaires[o][1] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="reponseCorrection">
                {# chargement du theme pour le formulaire #}
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {# génération automatique du formulaire d'ajout d'un commentaire #}
                {{ form(formCom) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.js') }}"></script>


    <script type="text/javascript">
        $(function (){
            $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"],
                monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aout", "Sep", "Oct", "Nov", "Dec"],
                today: "Aujourd'hui",
                clear: "Clear",
                format: "dd/mm/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };

            $('.datepicker').datepicker(
                {
                    autoclose: true,
                    language: 'fr',
                    startView: 'year'
                }
            );
        });
    </script>

    <script type="text/javascript">
        $('.selectpicker').selectpicker('refresh');
        $subBtn = document.getElementById('iuto_livretbundle_projet_submit');
        $glyph = document.createElement('span');
        $glyph.className = 'glyphicon glyphicon-chevron-right';
        $subBtn.appendChild($glyph);

        $champCom = document.getElementById('iuto_livretbundle_commentaire_contenu');
        $champCom.value = '';

    </script>


{% endblock %}
