{# on entend base.html.twig pour avoir le menu sur la gauche #}
{% extends 'base.html.twig' %}

{# block titre pour changer le titre de l'onglet #}
{% block title %}
    Livret'O - Creation d'un projet
{% endblock %}

{# block de style #}
{% block stylesheets %}

    {# chargement du style parent #}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/createProjectStudent.css') }}"/>

{% endblock %}

{% block content %}
    {# chargement du style pour le formulaire #}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {# génération automatique du formulaire pour remplir le contenu du projet (description, bilen, client) #}
    {{ form(form) }}


    {# bouton d'annulation / retour à l'accueil #}
    <a type="button" href="{{ path('iuto_livret_studenthomepage') }}" class="btn btn-danger" id="livret_cancel_create_student">
        {# icone #}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Annuler
    </a>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.js') }}"></script>

    <script type="text/javascript">
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
            });
    </script>

    <script type="text/javascript">
        $subBtn = document.getElementById('iuto_livretbundle_projet_submit');
        $glyph = document.createElement('span');
        $glyph.className = 'glyphicon glyphicon-chevron-right';
        $subBtn.appendChild($glyph);
    </script>
{% endblock %}
