{% extends 'base.html.twig' %}

{% block content %}
    <div class="div_home">
        <h1 class="h1_home"> {{ statutCAS|capitalize }} <br/><small>Connecté(e) en temps que : {{ user.prenomUser }} {{ user.nomUser }}</small></h1>
        {% for o in range(0, options|length - 1) %}
            <a href="{{ routing_options[o] }}" class="buttonhome">{{ options[o] }}</a>
        {% endfor %}
    </div>
{% endblock %}