{% extends 'base.html.twig' %}

{% block title %}
Livret'O - Modules
{% endblock %}

{% block content %}

<div class="div_home">

    <h1 class="h1_home">
        {# affichage du status CAS de l'utilisateur (ici etudiant)#}
        {{ statutCAS|capitalize }} <br/>
        {# affichage des informations de base sur l'utilisateur (nom prénom) #}
        <small>Connecté(e) en tant que : {{ user.prenomUser }} {{ user.nomUser }}</small>
    </h1>

    {% if ROLE_student %}
        <a href="{{ path('iuto_livret_studenthomepage') }}" class="buttonhome">Etudiant</a>
    {% endif %}
    {% if ROLE_faculty %}
        <a href="{{ path('iuto_livret_teacherhomepage') }}" class="buttonhome">Professeur</a>
    {% endif %}
    {% if ROLE_employee %}
        <a href="{{ path('iuto_livret_communicationhomepage') }}" class="buttonhome">Communication</a>
    {% endif %}
    {% if ROLE_chief %}
        <a href="{{ path('iuto_livret_chiefhomepage',{'id':1}) }}" class="buttonhome">Chef de département</a>
    {% endif %}
    {% if ROLE_admin %}
        <a href="{{ path('iuto_livret_administrateur') }}" class="buttonhome">Administrateur</a>
    {% endif %}
    <a href="{{ path('iuto_livret_public') }}" class="buttonhome">Public</a>

</div>


{% endblock %}
